/* Centering navbar brand */
@media (min-width: 768px) {
    .navbar-brand
        {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

/* Coloring navbar icons */
.iconzz {
    color: black !important;
}

/* On hover navbar icons */
.iconzz:hover{
    color: rgb(218, 214, 214) !important;
}

/* Brand image */
.navbar-brand img{
    width: 200px;
}

/* Card title */
.card-title {
    font-family: 'Roboto Condensed', sans-serif;
}

.btn{
    font-family: 'Roboto Condensed', sans-serif;
}

.card-title h1{
    font-size: 30px;
    letter-spacing: 2px;
}

.dropdownz{
    font-family: 'Roboto Condensed', sans-serif !important;
}