/* Centering navbar brand */

@media (min-width: 768px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* No right scroll */
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

/* Coloring navbar icons */
.iconzz {
    color: black !important;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 20px !important;
}

/* On hover navbar icons */
.iconzz:hover {
    color: rgb(218, 214, 214) !important;
    text-decoration: none;
}

/* Brand image */
.navbar-brand img {
    width: 150px;
}

.navbar2 {
    background-color: white;
}

/* Dropdown menu */
.dropdownMenu{
    border: 1px solid black !important;
    border-radius: 0px !important;
    right: -50px !important;
}

.dropdown-item{
    color: black !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    letter-spacing: 1.5px !important;
    line-height: 20px !important;
}

.dropdown-item:hover{
   background-color: white !important;
   text-decoration: underline !important;
}

/* Card title */
.card-title {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Button Font */
.btn {
    font-family: 'Roboto Condensed', sans-serif;
}

.card-title h1 {
    font-size: 30px;
    letter-spacing: 2px;
}

/* Dropdown Font */
.dropdownz {
    font-family: 'Roboto Condensed', sans-serif !important;
}

/* Error alert Font and Color */
.loginErrorAlert {
    font-family: 'Roboto Condensed', sans-serif;
    color: red;
}

/* HomeCard1 */
.homeCard1{
    border: none !important;
}

.card-body p{
    color: black !important;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px !important;
}

/* HomeElement2 */
.homeBody2 img {
    width: 350px;
}
.homeBody2 a{
    color: black !important;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 30px !important;
    text-decoration: none !important;
}
.homeBody2 p{
    color: black !important;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px !important;
}