@media (min-width: 768px) {
#brandID img{
    margin-left: 355px;
    }
.navbarIcons a{
    float: right;
    }
}
/* Brand logo */
#brandID img{
    position: relative;
    width: 200px;
}

/* Navbar icons */
.navbarIcons a{
    color: black;
}
.navbarIcons a:hover{
    color: gray;
}

/* Navbar-item */
.nav-item{
    margin: 10px;
    margin-bottom: 1px;
}
.nav-link{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black !important;
    font-size: 15px !important;
    font-weight: bolder !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 10px !important;
}
.nav-item a:hover{
    color: rgb(199, 195, 195) !important;
    border-bottom: 4px solid black !important;
}
.navSale{
    color: red !important;
}

/* Display Dropdown menu on hover */
.navbar-nav li:hover>.dropdown-menu {
    display: block;
  }

/* Dropdown menu box/container position */
.dropMenu{
    right: 0 !important;
    margin-top: -8px !important;
    /* border: none !important; */
}
/* Dropdown text position */
.dropdown-menu {
    padding-top: 10px;
}
.dropdown-menu a:hover{
    background: transparent !important;
    border: none !important;
}
.dropmenuTitle{
    font-family: 'Ubuntu Condensed', sans-serif !important;
    color: black !important;
    font-size: 10px !important;
    font-weight: 1000 !important;
    text-transform: uppercase !important;
    letter-spacing: 1px;
    line-height: 30px !important;
}
.dropdown-item{
    margin-left: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: capitalize;
}
