.allDesigners{
    width: 100% !important;
}

.panel-group{
    height: fit-content !important;
}

.panel-title{
    margin-bottom: 0 !important;
}

.panel-title a{
    color: black !important;
    font-size: 10px;
    font-weight: 450;
    letter-spacing: 1px;
    line-height: 20px !important;
    text-transform: uppercase;
}

.list-group-item{
    border: none !important;
    padding: 0 !important;
    margin-left: 8px !important
}

.list-group-item a{
    color: black !important;
    font-size: 5px;
    font-weight: 330;
    letter-spacing: 1px;
    line-height: 20px !important;
    text-transform: uppercase;
}

.displayProduct{
    margin-bottom: 400px;
}
.displayProductTitle{
    margin-left: -10px !important;
}
.displayProductDesc{
    margin-left: -10px !important;
}

.card{
    border: none !important;
}
.card-title{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 10px !important;
    font-weight: 600 !important;
    line-height: 30px !important;
}
.card-text{
    font-size: 10px !important;
    font-weight: 300 !important;
    line-height: 30px !important;
    text-transform: capitalize;
}
.card-body p{
    margin-bottom: 0 !important;
}

.footer{
    margin-top: 50px !important;
}

