.bodyOrderDetail{
    color: black !important;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 0.8px;
    line-height: 15px;
}

.buttonOrderHistory{
    background-color: black;
    color: white !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    letter-spacing: 1.5px !important;
    line-height: 20px !important;
    text-transform: uppercase;
    padding: 10px

}
