footer{
    background-color: none;
}
.footerTitle{
    color: black !important;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 2.5px;
    line-height: 30px !important;
    text-decoration: none !important;
    text-transform: uppercase;
}

.footerText{
    color: black !important;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 20px !important;
}

.footerIcon{
    width: 15px !important;
}

.buttonFooter{
    color: black !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    letter-spacing: 1.5px !important;
    line-height: 20px !important;
    text-transform: uppercase;
}

.buttonFooter:hover{
    color: white !important;
    background-color: black !important;
}

.footerInput{
    width: 350px;
    color: black !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    line-height: 20px !important;
}
.footerInput:focus{
    outline-width: 0;
    text-decoration: none !important;
    background-color: white !important;
}