/* Coloring navbar icons */
.iconzz {
    color: black !important;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 20px !important;
}

/* On hover navbar icons */
.iconzz:hover {
    color: rgb(218, 214, 214) !important;
    text-decoration: none;
}

/* Brand image */
.navbar-brand img {
    width: 150px;
}

.navbar2 {
    background-color: white;
}

/* Nav search */
.navItemSearch{
    margin-top: 2.5px !important;
}


/* Dropdown Toggle */
.dropdownToggle{
    color: black !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    letter-spacing: 1.5px !important;
    line-height: 20px !important;
}

/* Dropdown menu */
.dropdownMenu{
    border: 1px solid black !important;
    border-radius: 0px !important;
    right: -50px !important;
}

.dropdown-item{
    color: black !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    letter-spacing: 1.5px !important;
    line-height: 20px !important;
}

.dropdown-item:hover{
   background-color: white !important;
   text-decoration: underline !important;
}

.dropdownSearch{
    width: 200px;
}

.inputSearch{
    width: 380px !important;
}

/* Remove blue highlight on click */
.inputSearch:focus{
    outline-width: 0;
    text-decoration: none !important;
    background-color: white !important;
}

/* Dropdown Font */
.dropdownz {
    font-family: 'Roboto Condensed', sans-serif !important;
}

.shoppingCount{
    color: black !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    letter-spacing: 1.5px !important;
    line-height: 20px !important;
}