/* HomeCard1 */
.homeCard1{
    border: none !important;
}

.card-img-top{
    border-radius: 0px !important;
}

.card-body p{
    color: black !important;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px !important;
}

/* HomeElement2 */
.homeBody2 img {
    width: 350px;
}
.homeBody2 a{
    color: black !important;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 30px !important;
    text-decoration: none !important;
}
.textHomeBody2{
    color: black !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    line-height: 20px !important;
    text-decoration: none !important;
}

/* HomeElement3 */
.homeBody3 img{
    width: 1000px;
    margin-top: 60px;
}
.homeBody3Head{
    color: black !important;
    font-family: "Helvetica Neue";
    font-size: 30px !important;
    font-weight: 550 !important;
    letter-spacing: 1px !important;
    line-height: 30px !important;
    text-decoration: none !important;
}
.homeBody3 a{
    color: black !important;
    font-size: 15px;
    font-weight: 320;
    letter-spacing: 1px;
    line-height: 30px !important;
    text-decoration: none !important;
}
