/* .containerAddPro{
    width: 450px !important;
    padding-left: 100px !important;
} */

.titleManagePro{
    font-family: inherit !important;
    color: black !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 15px !important;
    letter-spacing: 1px !important;
    margin-bottom: 5px !important;
}

.titleManagePro1{
   width: 840px !important
}

.buttonProdEdit{
    border: 1px solid blue !important;
    display: inline !important;
    color: white;
    background-color: blue
}
.buttonProdDelete{
    border: 1px solid red !important;
    display: inline !important;
    color: white;
    background-color: red
}

/* .buttonProdEdit:hover{
    text-decoration: underline !important;
    color: blue;
}
.buttonProdDelete:hover{
    text-decoration: underline !important;
    color: red;
} */