.containerAccount{
    width: 450px !important;
    margin-left: 210px;
}

.title{
    color: black !important;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 0.8px;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 90px;
}

.title a{
    color: black;
    text-transform: capitalize;
}

.body{
    color: black;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 1px;
    margin-top: 50px;
}

.bodyInput{
    color: black;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.bodyInputAddress{
    color: black;
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}

.accountInputForm{
    height: 33px;
    color: black !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    line-height: 20px !important;
    border: 1px solid black;
    border-radius: 0px;
}

.buttonAccount{
    width: 200px;
    height: 35px;
    color: white !important;
    background-color: black;
    font-size: 10px !important;
    font-weight: 400 !important;
    letter-spacing: 1.5px !important;
    line-height: 20px !important;
    text-transform: uppercase;
}

.buttonAccount:hover{
    background-color: black;
}

.buttonAccountCancel{
    width: 200px;
    height: 35px;
    color: black !important;
    background-color: white;
    font-size: 10px !important;
    font-weight: 400 !important;
    letter-spacing: 1.5px !important;
    line-height: 20px !important;
    text-transform: uppercase;
}

.buttonAccountCancel:hover{
    background-color: white;
}

.buttonAdd{
    margin-left: 70px;
}

.footer{
    padding-top: 120px !important;
    width: 100%;
}

.addressButton{
    border: none !important;
    background-color: none !important;
    text-transform: uppercase;
}

.addressButton:hover{
    text-decoration: underline;
}

.containerAddButton{
    margin-left: 100px;
}

.modal-content{
    padding: 15px !important;
    border-radius: 0px !important;
}

.modalHeader{
    padding: 16px;
}
.modal-title{
    color: black !important;
    font-size: 17px;
    font-weight: 400 !important;
    line-height: 15px !important;
    letter-spacing: 1.5px !important;
}

.modalBody{
    padding: 16px;
    font-size: 10px;
    font-weight: 300 !important;
    line-height: 25px !important;
    letter-spacing: 1.5px !important;
}

.modalFooter{
    padding: 16px;
}

.buttonAddress{
    color: white !important;
    background-color: black !important;
    border-radius: 0px !important;
    font-family: inherit !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    letter-spacing: 1.5px !important;
    line-height: 20px !important;
    text-transform: uppercase;
}