.titleOrder{
    color: black !important;
    font-family: 'Work Sans', sans-serif;
    font-size: 9px;
    font-weight: bolder;
    letter-spacing: 0.8px;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 50px;
    border-bottom: 2px solid black;
}

.titleGrand{
    color: black !important;
    font-family: 'Work Sans', sans-serif;
    font-size: 9px;
    font-weight: bolder;
    letter-spacing: 0.8px;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 5px;
}


.titleOrderHistory{
    color: black !important;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 0.8px;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 90px;
    margin-left: -10px !important
}

.renderOrder{
    border: 1px solid black;
}

.uploadProof{
    width: 190px;
    margin-left: 150px
}

.buttonUploadReceipt{
    background-color: black;
    color: white !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    line-height: 20px !important;
    text-transform: uppercase;
    margin-top: 5px;
    margin-left: 150px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 9px;
    width: 200px
}.buttonUploadReceipt:hover{
    cursor: pointer;
}
.buttonUploadProof{
    margin-top: 20px !important;
    margin-right: 10px !important;
}

.buttonDetailOrder{
    margin-top: 23.5px;
    margin-left: -7px; 

}