/* Register card */
.cardRegister{
    border-radius: 0px !important;
    border-color: black;
    margin-top: 50px;
}

.inputRegister{
    border-radius: 0px !important;
    border-color: black;
}

.registerText {
    color: black !important;
}

.registerText:hover{
    color: rgb(218, 214, 214) !important;
    text-decoration: none;
}

/* .buttonRegister{
    border-radius: 0px !important;
} */

.registerSuccessAlert {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(5, 173, 5);
}