.titleWishlist{
    color: black !important;
    font-family: inherit !important;
    font-size: 20px !important;
    font-weight: 650;
    letter-spacing: 1px;
    margin-top: 80px !important;
}

.bodyWishlist{
    color: black !important;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 0.8px;
    line-height: 15px;
    margin-top: 90px;
}

.buttonWishlist:hover{
    text-decoration: none !important;
}

.closeWishlist{
    width: 10px;
}